<h2>Administravimas</h2>
<hr>
<li>
    <a href="{{ path('new_orders_list') }}"><span class="glyphicon glyphicon glyphicon-flag"> Nauji užsakymai</span></a>
</li>
<li>
    <a href="{{ path('get_all_active_order') }}"><span class="glyphicon glyphicon-pencil"> Užsakymų valdymas</span></a>
</li>

<li>
    <a href="{{ path('new_order') }}"><span class="glyphicon glyphicon-new-window"> Vartotojų valdymas</span></a>
</li>
<li>
    <a href="{{ path('get_user_order') }}"><span class="glyphicon glyphicon-th-list"> Mano užsakymai</span></a>
</li>
<li>
    <a href="{{ path('get_user_order') }}"><span class="glyphicon glyphicon-th-list"> Ataskaitos</span></a>
</li>
<li>
    <a href=""><span class="glyphicon glyphicon-log-out"> Empty</span></a>
</li>
