<h2>Mano meniu</h2>
<hr>
<li>
    <a href="{{ path('new_order') }}"><span class="glyphicon glyphicon-new-window"> Naujas užsakymas</span></a>
</li>
<li>
    <a href="{{ path('get_user_order') }}"><span class="glyphicon glyphicon-th-list"> Mano užsakymai</span></a>
</li>
<li>
    <a href="{{ path('fos_user_profile_show') }}"><span
                class="glyphicon glyphicon glyphicon-flag"> Mano informacija</span></a>
</li>
<li>
    <a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-pencil"> Keisti slaptazodi</span></a>
</li>
<li>
    <a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"> Redaguoti profilį</span></a>
</li>
<li>
    <a href="{{ path('new_comments') }}"><span class="glyphicon glyphicon-pencil"> Palinkti atsiliepimą</span></a>
</li>
<li>
    <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"> Atsijungti</span></a>
</li>
