{% extends '::base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Užsakymo numeris</th>
            <th>Mokėjimo metodas</th>
            <th>Prekė</th>
            <th>Suma</th>
            <th>Užsakymo statusas</th>
            <th>Atšaukti</th>
        </tr>
        </thead>
        <tbody>


        {% for uzsakymas in uzsakymai %}

            <tr>
                <td>{{ uzsakymas.id }}</td>
                <td>{% if uzsakymas.metodas.metodas ==1 %}
                        Mokėjimas grynai
                    {% elseif uzsakymas.metodas.metodas ==2 %}
                        Mokėjimas pavedimu
                    {% endif %}
                </td>
                <td><a href="{{ path('edit_item',{'id':uzsakymas.prekesId}) }}">{{ uzsakymas.preke.pavadinimas }}</a>
                </td>
                <td>
                    {{ uzsakymas.saskaita.suma|default("") }}
                </td>
                <td>{% if uzsakymas.busena.busena == 1 %}
                        Tikrinami duomenys
                    {% elseif uzsakymas.busena.busena == 2 %}
                        Laukiama apmokėjimo
                    {% elseif uzsakymas.busena.busena == 3 %}
                        Vykdomas pirkimas
                    {% elseif uzsakymas.busena.busena == 4 %}
                        Prekė gauta į užsienio sandėlį
                    {% elseif uzsakymas.busena.busena == 5 %}
                        Prekė transportuojama į Lietuvą
                    {% elseif uzsakymas.busena.busena == 6 %}
                        Prekė paruošta atsiimti
                    {% elseif uzsakymas.busena.busena == 7 %}
                        Užsakymas įvykdytas
                    {% endif %}
                </td>
                <td>{% if uzsakymas.busena.busena == 1 or uzsakymas.busena.busena == 2 %}
                        <a href="{{ path('delete_order', {'id': uzsakymas.id}) }}"
                           onclick="return confirm('Ar tikrai norite atšaukti?')">Atšaukti</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}