{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>

    <hr>
    <h2>Perveštas užsakymų kiekis nuo {{ nuo|date("Y-m-d", "Europe/Vilnius") }}</h2>
    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>Užsakymo numeris</th>
            <th>Užsakymo data</th>
            <th>Prekė</th>
        </tr>
        </thead>
        <tbody>
        {% set sum = 0 %}

        {% for x in suma %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.data|date("Y-m-d h:m:s", "Europe/Vilnius") }}</td>
                <td>{{ x.preke.pavadinimas }}</td>
                {% set sum = sum + 1 %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>

    <h3>Bendras perveštų prekių kiekis: {{ sum }}</h3>

{% endblock %}