<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/simple-sidebar.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

</head>
<body style="background-image:url('{{ asset('assets/bg.jpg') }}')">
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top na" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">LOGO</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li><a href="#">Pradžios puslapis</a></li>
            <li><a href="#">Apie mus</a></li>
            <li><a href="#">Atsiliepimai</a></li>
            <li><a href="#">Kontaktai</a></li>
            <li><a href="#">Kontaktai</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!---- {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a> -->
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                <li><a href="{{ path('fos_user_registration_register') }}">Registracija</a></li>
            {% endif %}
        </ul>
        <!-- /.navbar-static-side -->
    </nav>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% include '@App/usermenu.html.twig' %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include '@App/admin.html.twig' %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    {% endif %}

    <!-- Page Content -->
    <div id="page-wrapper" {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} style=" margin: 0 0 0 250px;"{% endif %}>
        <div class="container-fluid">
            <div class="row" style="border: none;
            background-color: white;
            opacity:0.85;
            padding-bottom: 30px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-lg-12">
                    <h2 class="page-header"></h2>
                </div>
                <div class="col-sm-9 col-lg-10">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="flash-notice alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('warning') %}
                        <div class="flash-notice alert alert-warning">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="flash-notice alert alert-danger">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
            <div class="container">
                {{ block('body') }}
            </div>
        {% endif %}

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('assets/vendor/jquery/src/jquery.js') }}"><\/script>')</script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
</body>
</html>

